@charset "utf-8";

.time {
    color: #aaa;
}

.comment-list {
    list-style-type: none;
    padding-left: 0;
}

.comment-list__item {
    padding: 0.6em 0;
}

.comment-list__item + .comment-list__item {
    border-top: 1px solid #ddd;
}

.comment-time {
    font-size: 0.8em;
}
