<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Board{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
</head>

<body>
  <div id="content">
    <div class="c">
      <h2 class="brand-ttile" style="text-align: center;">Board</h2>
    </div>
    {% block content %}{% endblock %}
  </div>
</body>

</html>
