{% extends '../base.html' %}

{% block title %}新規作成{%endblock%}

{% block content %}
<div class="board-add">
  <div class="board-add__header">
    <div class="c">
      <a class="btn" href="/board/list">一覧に戻る</a>
    </div>
  </div>
  <div class="board-add__body">
    <div class="c">
      <div class="row">
        <div class="12 col">
          <form method="post">
            {% csrf_token %}
            {% include "./components/register_form.html" %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
